<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headercss :: common_header(~{::title},~{::link})">
  <title>登录</title>
  <link rel="stylesheet" th:href="@{/dist/css/mycss.css}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a th:href="@{/}"><b>找我看病</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form th:action="@{/login}" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="用户名" id="username" name="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="输入密码" id="password" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">登录</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a th:href="@{/register}">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a th:href="@{/register}" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<div th:replace="common/footjs::common_js(~{::script})">
  <!--每个页面自己的js-->
  <!--<script src="js/index.js"></script>-->
</div>

</body>
</html>
